body {
    background-color: #23272b;
    color: wheat; /* Set text color */
}

.container {
    max-width: 80%;
    margin: auto;
}

.league-card {
    margin-bottom: 20px; /* Add space between league cards */
}

.league-container {
    padding-top: 20px;
    width: 100%; /* Ensure the league container spans the whole width */
}

.league-header {
    display: flex;
    align-items: center;
    justify-content: start;
}

.divider {
    width: 100%; /* Ensure the divider spans the whole width */
    border-color: #ffffff; /* Change the color of the divider */
    margin: 20px 10px; /* Add some space above and below the divider */
}

.card {
    min-height: 280px;
    background-color: #6c757d;
    border: 1px solid #23272b;
    color: white;
    margin-bottom: 10px; /* Add space between game cards */
}

.card-body {
    padding: 20px;
}

.card-text {
    margin-bottom: 14px; /* Add space between game details */
    font-weight: bold;
}

.team-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Add space between team logos and vs text */
}

.team-logo {
    max-height: 40px;
    width: auto;
    margin: 0 10px; /* Adjust margin */
    padding-bottom: 10px;
}

.league-logo {
    max-height: 50px;
    width: auto;
    margin: 0px 10px; /* Adjust margin */
}

.channel-logo {
    max-height: 35px;
    width: auto;
    margin: 10px 10px; /* Adjust margin */
}

.vs-text {
    margin: 0 10px;
    font-size: 1.25rem;
    font-weight: bold;
}

.no-channel-text {
    font-weight: normal;
    padding: 1.2em 0px 1.2em 0px;
}

.loading-icon {
    border: 16px solid #f3f3f3;
    border-top: 16px solid wheat;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    display: none; /* Initially hidden */
    margin: 100px auto; /* Center horizontally */
    padding: 40px;
}

.footer {
    color: #6b6a6a; /* Use a very light gray or almost white color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth transition for color change */
}

.light-footer:hover {
    color: #c4c4c4; /* Change color to white on hover */
}

.pdf-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.pdf-overlay .pdf-container {
    position: relative;
    background: #fff;
    padding: 1rem;
    width: 80%;
    height: 80%;
    max-width: 800px;
    max-height: 600px;
}
.pdf-overlay .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
.pdf-overlay iframe {
    width: 100%;
    height: 100%;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Media Queries */
/* For large screens (>= 1750px) */
@media (min-width: 1750px) {
    .col-lg-4 {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}

/* For medium screens (1100px <= X < 1750px) */
@media (min-width: 1100px) and (max-width: 1749px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* For small screens (< 1100px) */
@media (max-width: 1099px) {
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* For screens with width >= Xpx */
@media (min-width: 600px) {
    .team-info {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .team-info img {
        margin: 0 10px; /* Adjust margin */
    }
    .vs-text {
        display: block;
        text-align: center;
        margin: 10px 20px; /* Adjust margin */
    }
}

.no-games-message {
    color: wheat; /* Adjust color as needed */
    font-size: 1.5rem; /* Adjust font size as needed */
    text-align: center;
    margin-top: 100px; /* Adjust margin as needed */
}

/* For screens with width < Xpx */
@media (max-width: 599px) {
    .team-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .team-info img {
        margin: 10px 0; /* Adjust margin */
    }
    .vs-text {
        display: block;
        text-align: center;
        margin: 10px 0; /* Adjust margin */
    }
    #league-selector {
        margin-bottom: 10px;
    }
}